@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat;
}

li {
    list-style-type: none;
}

.headersection {
    background: #0B162B;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    margin-left: 12%;
}

.navigato {
    display: flex;
    justify-content: space-between;
    width: 86%;
    z-index: 1;
    position: absolute;
    top: 5%;
}

.navitogocomponent a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px 12px;
}

.navitogocomponent button {
    padding: 11px 38px;
    border: none;
    background-color: #5558DB;
    color: #fff;
}

.dotsothing {
    display: flex;
}

.leftcontentside {
    max-width: 50%;
    /* margin-left: 2%; */
}

.leftcontainerholder {
    /* max-width: 90%; */
    margin-top: 5%;
    margin-bottom: 13%;
}

.leftcontentside h1 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: #fff;
    margin-top: 35%;
}

.leftcontentside .ess1 {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #fff;
}

.ess2 {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #fff;
    margin-top: 6%;
    margin-bottom: 12%;
}

.moreabout {
    display: flex;
    gap: 3%;
    margin-top: 40%;
    margin-bottom: 4%;
}

.moreabout p {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.leftcontainerholder input {
    font-size: 16px;
    color: #fff;
    background-color: #5558DB;
    border: none;
    padding: 15px 75px;
    margin-top: 6%;
    border-radius: 2px;
}

.leftcontainerholder button {
    font-size: 16px;
    color: #fff;
    background-color: #5558DB;
    border: none;
    margin-top: 12px;
    padding: 15px 40px;
    margin-left: 13px;
}

.backgroundonright {
    background-image: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    position: absolute;
    height: 100%;
    left: 51%;
    /* margin-left: 43; */
}

.backgroundon1 {
    position: relative;
    top: 95%;
    left: 10%;
    z-index: 1;
}

.container {
    background-color: #0B162B;
    width: 100%;
    height: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    z-index: 6;
}

.btn {
    padding: 7px 21px;
    background-color: rgb(147, 147, 247);
    border: none;
    border-radius: 3px;
}

.containerlink {
    position: absolute;
    margin-right: 12%;
    align-content: space-around;
    top: 0;
    right: 10%;
}

.containerlink a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #fff;
    text-decoration: none;
    margin: 20px;
}

.section1 {
    background-color: #0B162B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0 0 3em;
}

.you img {
    width: 50%;
    height: 147%;
    transform: translateY(-175px);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.hero h1 {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 700;
}

.hero p {
    font-family: PT Serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}

.custom-field {
    display: flex;
    gap: 14%;
}

.amend {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-top: 13px;
}

.hero input {
    border: none;
    background: #5558DB;
    padding: 13px;
    border-radius: 4px;
    width: 330px;
    height: 44px;
}

.hero button {
    background: #5558DB;
    border: none;
    color: #FFFFFF;
    width: 130px;
}

.tagpp {
    display: flex;
    margin-top: 50%;
}



/*News logo Section*/
.newslogo {
    width: 100%;
    max-width: 100%;
    padding: 3% 0%;
}

.newslogo img {
    width: 100%;
    height: 10%;
    padding: 1px 160px;
}

/* Features Section */

.carter {
    width: 100%;
    padding-top: 5%;
    padding-left: 16%;
    padding-bottom: 4%;
    position: relative;
}

.flex- {
    gap: 12px;
    display: flex;
    position: relative;
    right: 8%;
}

.mugan {
    height: 266px;
    width: 350px;
    overflow: hidden;
    text-align: center;
}

.mugan h3 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 35px;
}

.mugan p {
    font-family: PT Serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.gan {
    margin-top: 12px;
    text-align: center;
}

/*testing*/

.features {
    display: flex;
    width: 100%;
    height: 100%;
}

.featuresdiv {
    margin: 10% 3px;
    text-align: center;
    max-width: 300px;
    max-height: 266px;
    margin-left: 6%;
}

.featuresdiv h3 {
    font-size: 31px;
    margin-top: 30px;
}

.featurex {
    padding: px;
    max-width: 50px;
    position: relative;
    left: 40%;
    align-items: center;
}

.featuresdiv p {
    font-size: 15px;
    margin-top: 22px;
}

/*Laptop Section*/

.Layout__Constraint {
    margin: 0 auto;
    padding-right: 12%;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

/*testing*/
.Laptop {
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 100px 40px;
    gap: 60px;
    background: #F8F8F8;
}

.Laptopx {
    position: relative;
    left: 7%;
    max-width: 50%;
    width: 100%;
}

.Laptopx img {
    width: 400px;
    height: auto;
    position: relative;
    left: 0;
}

.Laptopwrite {
    max-width: 200%;
    position: relative;
    left: 4%;
}

.Laptopwrite h3 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 14px;
}

.Laptopwrite p {
    padding-top: 10px;
    padding-bottom: 23px;
    font-size: 14px;
}

.Laptopwrite button {
    background-color: #5558DB;
    border: none;
    padding: 10px 76px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 4px;
}

/*Map*/
.Map {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding: 50px 50px; */
    position: relative;
    left: 0;
    gap: 30px;
}

.Map img {
    width: 100%;
    /* max-width: 100%; */
    /* height: auto; */
    position: relative;
    /* left: 12%; */
}

.Maptx {
    width: 50%;
    margin-left: 8%;
}

.Mapwrite {
    width: 40%;
    position: relative;
    left: 5%;
    margin-left: 3%;
    /* padding-right:45%; */
}

.Maph3 {
    font-family: Montserrat;
    font-size: 43px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    /* margin-left: 14%; */
}

.Mapwrite p {
    padding-top: 2px;
    font-family: PT Serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

    /* margin-left: 14%; */
}

.Mapwrite button {
    background-color: #5558DB;
    border: none;
    height: 60px;
    width: 300px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    /* margin-left: 72px; */
    margin-top: 13px;
}

/*Pricing*/
.price {
    background-color: #F8F8F8;
    /* text-align: center; */
}

.price .plex {
    padding-top: 6%;
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
}

.price .lex {
    font-family: PT Serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-bottom: 34px;
}


.priceholder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pricelist1 {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 25px;
    max-width: 100%;

    margin: 0 16px;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

aside button {
    background-color: #999bee;
    border: none;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 5px 12px;
    margin-left: 8px;
}

.aside p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: right;
}

.pricelisth3 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

.pricelisth2 {
    font-family: Montserrat;
    font-size: 57px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;
}

.pricelistp {
    margin-top: -14px;
    margin-bottom: 13px;
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.pricelist1 .cellprice {
    background-color: #5558DB;
    border: none;
    padding: 4px 80px;
    height: 60px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin-left: 38px;
}

.shape {
    display: flex;
    flex-direction: column;
}

.shape span img {
    width: 20px;
}

.shape span {
    display: flex;
    gap: 12px;
    padding: 14px;
    justify-content: center;
}

.shape p {
    font-size: 15px;
}


.lastp {
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 25px;
    padding-top: 33px;
    padding-bottom: 12%;
    margin-left: 41px;
}


/*rectangle*/

.rectangle {
    background-color: #0B162B;
}

.rectangleinner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-top: 10%;
}


.rect1 {
    padding-top: 52px;
}

.rect2 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-content: center;
    padding-top: 33px;
}

.rect2 button {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    padding: 7px 12px;
    background-color: #5558DB;
    height: 50px;
    width: 160px;
    border: none;
    color: white;
}

.rect2 input {
    height: 48px;
    width: 334px;
    border-radius: none;
    background-color: #5558DB;
}

.rect1 h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}

.rect1 p {
    color: #F8F8F8;
}


/* rectfocus */
.rectfocus {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.focusrect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    padding-left: 35px;
}

.focusrect li {
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.cus {
    margin: auto 30px;
}

.cus1 {
    margin: auto 0px;

}

.cus li {
    list-style-type: none;
    color: #FFFFFF;
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.sent {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

/*testing*/
.footer {
    background: #0B162B;
    color: #fff;
    position: relative;
}

.footerlaz {
    width: 85%;
    margin: 0 auto;
}

.footerholder {
    display: flex;
}

hr {
    margin-top: 4%;
    margin-bottom: 3px;
    width: 91%;
    height: 3px;
    background-color: #fff;
    outline: none;
}


.getstarted {
    flex: 40%;
}

.inputfooter {
    margin-top: 60px;
    left: 50.4%;
    flex: 60%;
    padding-left: 80px;
}

.inputfooter input {
    background-color: #5558DB;
    color: #FFFFFF;
    line-height: 1.5rem;
    padding: 16px 89px;
    border: none;
}

.inputfooter button {
    font-size: 16px;
    color: #fff;
    background-color: #5558DB;
    border: none;
    padding: 19px 25px;
    display: inline-block;
    margin-left: 22px;
}


.getstarted h3 {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    margin-top: 66px;
}

.getstarted p {
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.footerinfo {
    display: flex;
    margin-top: 18px;
}

.solution {
    display: flex;
    color: #fff;
    text-align: center;
}

.alar {
    float: left;
    flex: 1px;
    text-align: left;
    margin: 20px 70px;
    margin-left: 0;
    margin-bottom: 15%;
    width: auto;
}

.alar h4 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
}

.alar ul {
    margin-top: 13px;
}

.alar ul li {
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    letter-spacing: 3px;
}


.contactme {
    margin-left: 20%;
    margin-top: 2%;
}

.contactme img {
    width: 120px;
}

/*testing*/

/*Media query Session*/
@media (max-width:768px) {

    .navigato {
        display: none;
    }

    .leftcontentside h1 {
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        color: #fff;
        margin-top: 35%;
        margin-right: 10%;
    }

    .wrapper {
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-left: 9%;
    }

    .leftcontentside {
        max-width: 100%;
        margin-right: 104%;
    }

    .leftcontainerholder input {
        font-size: 16px;
        color: #fff;
        background-color: #5558DB;
        border: none;
        padding: 15px 55px;
        margin-top: 15%;
        border-radius: 2px;
    }

    .leftcontainerholder button {
        font-size: 16px;
        color: #fff;
        background-color: #5558DB;
        border: none;
        margin-top: 12px;
        padding: 10px 30px;
        margin-left: 22%;
    }

    .newslogo img {
        width: 100%;
        height: 100px;
        position: relative;
        padding: 0;
        margin: 0;
    }

    .carter {
        width: 100%;
        padding-top: 5%;
        padding-left: 16%;
        padding-bottom: 4%;
        position: relative;
    }

    .flex- {
        display: block;
        position: relative;
    }

    .mugan {
        margin-top: 16px;
        width: 100%;
    }

    .Laptop {
        background: rgb(248, 248, 248);
        width: 100%;
        padding: 80px 20px;
        gap: 0;
    }


    .Laptop .Layout__Constraint {
        display: block;
        width: 100%;
    }

    .Laptopx {
        width: 100%;
        margin-right: 30%;
        padding: 0;
    }

    .Laptopx img {
        width: 300px;
    }

    .Laptopwrite {
        width: 100%;
        margin-top: 18%;
    }

    .Laptopwrite h3 {
        font-family: Montserrat;
        font-size: 46px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 3px;
        text-align: center;
    }

    .Laptopwrite p {
        padding-top: 30px;
        font-size: 14px;
    }

    .Laptop button {
        background-color: #5558DB;
        border: none;
        padding: 20px 68px;
        display: inline-block;
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-left: 10%;
    }


    .Map {
        display: block;
        padding: 0;
        margin: 0;
        gap: 0;
    }

    .Mapwrite {
        width: 80%;

    }

    .Mapwrite h3 {
        text-align: center;
        padding-right: 0;
    }

    .Map p {
        padding-left: 5%;
    }

    .Maptx {
        position: relative;
        margin-left: 0;
        margin-top: 31%;
    }

    .Maptx img {
        width: 200%;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
    }

    .priceholder {
        display: block;
        justify-content: center;
        align-content: center;
    }

    .pricelist1 {
        margin-bottom: 72px;
    }

    .pricelist1 .cellprice {
        background-color: #5558DB;
        border: none;
        padding: 4px 80px;
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        margin: 0%;
        display: block;
    }

    .shape span {
        display: flex;
        gap: 12px;
        padding: 0;
        margin: 0;
        justify-content: center;
        margin-top: 13px;
        margin-right: 20%;
    }

    .lastp {
        margin: 0;
        padding: 0;
        font-size: 23px;
    }

    .footerholder {
        display: block;
    }

    .getstarted h3 {
        text-align: center;
    }

    .getstarted p {
        margin-top: 4%;
        text-align: center;
    }

    .inputfooter {
        display: block;
        padding: 0;
        margin: 0;
    }

    .inputfooter input {
        margin: 0;
        display: block;
        margin-left: 9%;
        margin-top: 6%;

        background-color: #5558DB;
        color: #FFFFFF;
        line-height: 1.5rem;
        padding: 21px 70px;
        border: none;
    }

    .inputfooter button {
        margin-top: 30px;
        margin-left: 22%;
        padding: 20px 71px;
    }

    hr {
        margin-top: 7%;
        margin-bottom: 3px;
        width: 80%;
        margin-left: 11%;
        height: 3px;
        background-color: #fff;
        outline: none;
    }

    .solution {
        display: block;
        justify-content: space-between;

    }

    .alar {
        float: left;
        text-align: left;
        display: block;
        width: 50%;
        padding-left: 32px;
        margin-left: 28%;
        margin-bottom: 0;
    }

    .footerinfo {
        display: block;
    }

    .footerlaz {
        width: 100%;
        margin: 0 auto;
    }

    .backgroundonright {
        display: none;
    }

    .alar ul {
        color: #fff;
    }

    .alar h4 {
        color: #fff;
        font-size: 26px;
    }


    .contactme {
        margin: 0;
        margin-left: 30%;

    }

    .contactme img {
        width: 59%;
        margin-top: 22px;
        margin-bottom: 5%;
    }
}